<div ng-controller="FactoringWork">
    <div class="row">
        <div class="col-md-12">
            <span class="text-mute">Preselection</span>
            <i class="glyphicon glyphicon-menu-right"></i>
            <b>Factoring</b>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ng-if="!!fSession.workSize">
                <uib-progress max="fSession.workSize" animate="false">
                    <uib-bar value="fSession.workDone" type="success"
                             title="work done">
                        <span ng-hide="fSession.workDone/fSession.workSize < 0.03">
                            {{100*fSession.workDone/fSession.workSize | number: 1}} %
                        </span>
                    </uib-bar>
                </uib-progress>
                <div>
                    Dividers found: <ul>
                    <li ng-repeat="divider in fSession.result">{{divider}}</li>
                    </ul>
                </div>
            </div>
            <div class="pull-right" style="padding: 8px;">
                <input class="form-control" ng-model="number" type="text" placeholder="input number to factorize">
                <button class="btn btn-primary" ng-class="{'disabled': !number}"
                        ng-click="factorize()">Factorize</button>
                <button class="btn btn-danger" ng-class="{'disabled': !fSession.isWorking()}"
                        ng-click="stop()">Stop</button>
            </div>
            <table class="table table-border">
                <thead>
                <tr>
                    <th>Node Id</th>
                    <th>Name</th>
                    <th>RAM</th>
                    <th>GPU</th>
                </tr>
                <tr>
                    <td colspan="4"></td>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="peer in peers track by peer.nodeId">
                    <td>
                        <code>{{peer.nodeId | limitTo:11}}</code>
                        <span class="label label-{{peer.os.toLowerCase().includes('macos') ? 'info' : 'default'}}"
                              ng-if="peer.os">
                            {{peer.os}}
                        </span>
                    </td>
                    <td>
                        {{(peer.nodeName || peer.hostname)}}
                    </td>
                    <td><span ng-if="peer.ram">
                            <uib-progress max="peer.ram.total" animate="false">
                                <uib-bar value="peer.ram.used" type="warning"
                                         title="used: {{peer.ram.used/1000/1000 | number: 1}} GB">
                                    <span ng-hide="peer.ram.used/peer.ram.total < 0.05">
                                        {{peer.ram.used/1000/1000 | number: 1}}
                                    </span>
                                </uib-bar>
                                <uib-bar value="peer.ram.free" type="success"
                                         title="free: {{peer.ram.free/1000/1000 | number: 1}} GB">
                                    <span ng-hide="peer.ram.free/peer.ram.total < 0.05">
                                        {{peer.ram.free/1000/1000 | number: 1}} GB
                                    </span>
                                </uib-bar>
                            </uib-progress>
                        </span></td>
                    <td><span ng-if="!!peer.gpu">
                        <span class="label label-primary" ng-if="peer.gpu.amd">
                            AMD {{peer.gpu.amd > 1 ? "x"+peer.gpu.amd : ""}}
                        </span>
                        <span class="label label-danger" ng-if="peer.gpu.nvidia">
                            NVidia {{peer.gpu.nvidia > 1 ? "x"+peer.gpu.nvidia : ""}}
                        </span>
                    </span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>