<div class="panel panel-default" ng-controller="FactorizationWork">
    <div class="panel-heading">
        <h4><i class="glyphicon glyphicon-cog"></i> Factorization</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <form class="col-md-12 form-inline">
                <div class="form-group">
                    <input class="form-control" ng-model="value" type="text" placeholder="input number to factorize">
                    <button class="btn btn-primary" ng-class="{'disabled': !value}"
                        ng-click="factorize()">Factorize</button>
                    <button class="btn btn-danger" ng-class="{'disabled': !manager.isActive}"
                        ng-click="manager.stop()">Stop</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-border">
                    <thead>
                    <tr>
                        <th>Node Id</th>
                        <th>Name</th>
                        <th>Work</th>
                        <th>RAM</th>
                        <th>GPU</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="peer in peers track by peer.id">
                        <td>
                            <code>{{peer.nodeId | limitTo:11}}</code>
                            <span class="label label-{{peer.os.toLowerCase().includes('macos') ? 'info' : 'default'}}"
                                  ng-if="peer.os">
                            {{peer.os}}
                        </span>
                        </td>
                        <td>
                            {{(peer.nodeName || peer.hostName)}}
                        </td>
                        <td>
                            {{manager.workCnt(peer.nodeId)}}
                        </td>
                        <td><span ng-if="peer.ram">
                            <uib-progress max="peer.ram.total" animate="false">
                                <uib-bar value="peer.ram.used" type="warning"
                                         title="used: {{peer.ram.used/1000/1000 | number: 1}} GB">
                                    <span ng-hide="peer.ram.used/peer.ram.total < 0.05">
                                        {{peer.ram.used/1000/1000 | number: 1}}
                                    </span>
                                </uib-bar>
                                <uib-bar value="peer.ram.free" type="success"
                                         title="free: {{peer.ram.free/1000/1000 | number: 1}} GB">
                                    <span ng-hide="peer.ram.free/peer.ram.total < 0.05">
                                        {{peer.ram.free/1000/1000 | number: 1}} GB
                                    </span>
                                </uib-bar>
                            </uib-progress>
                        </span></td>
                        <td><span ng-if="!!peer.gpu">
                        <span class="label label-primary" ng-if="peer.gpu.amd">
                            AMD {{peer.gpu.amd > 1 ? "x"+peer.gpu.amd : ""}}
                        </span>
                        <span class="label label-danger" ng-if="peer.gpu.nvidia">
                            NVidia {{peer.gpu.nvidia > 1 ? "x"+peer.gpu.nvidia : ""}}
                        </span>
                    </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row" ng-if="manager.isActive">
            <div class="col-md-6">
                <uib-progress max="100" animate="false">
                    <uib-bar value="manager.progress" type="success"
                             title="work done">
                    </uib-bar>
                </uib-progress>
            </div>
            <div class="col-md-6">
                Dividers found:
                <span ng-repeat="divider in manager.process.fact">
                    <span class="label label-primary">{{divider}}</span>
                </span>
            </div>
        </div>
        <div class="row" ng-if="!manager.isActive && manager.lastResult">
            <div class="col-md-12">
                Dividers found:
                <span ng-repeat="divider in manager.lastResult.fact">
                    <span class="label label-primary">{{divider}}</span>
                </span>
            </div>
        </div>
    </div>
</div>